<div class="clearfix">
  <div class="markdown-container">
    <%= form_with(model: @tweet, local: true) do |form| %>
      <% if @tweet.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@tweet.errors.count, "error") %> prohibited this tweet from being saved:</h2>
          <ul>
            <% @tweet.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :title, "タイトル", for: "tweet_title" %>
        <%= form.text_field :title, id: "tweet_title" %>
      </div>

      <div class="field">
        <%= form.label :image, "Image", for: "tweet_image" %>
        <%= form.file_field :image, id: "tweet_image" %>
      </div>

      <div class="field markdown-container">
        <%= form.label :html, "HTML", for: "tweet_html" %>
        <%= form.text_area :html, id: "tweet_html", rows: 10 %>
      </div>

      <div class="field">
        <%= form.label :css, "CSS", for: "tweet_css" %>
        <%= form.text_area :css, id: "tweet_css", rows: 10 %>
      </div>

      <div class="field">
        <%= form.label :js, "JavaScript", for: "tweet_js" %>
        <%= form.text_area :js, id: "tweet_js", rows: 10 %>
      </div>

      <div class="field">
        <%= form.label :url, "URL", for: "tweet_url" %>
        <%= form.text_area :url, id: "tweet_url", rows: 10 %>
      </div>

      <div class='form-group'>
        <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
          <div class='form-check'>
            <% tag_id = "tweet_tag_ids_#{tag.object.id}" %>
            <%= tag.check_box id: tag_id, class: 'form-check-input' %>
            <%= tag.label class: 'form-check-label', for: tag_id do %>
              <%= tag.text %>
            <% end %>
          </div>
        <% end %>
      </div>

      <div class="actions">
        <%= form.submit "投稿する", class: "submit-button" %>
      </div>
    <% end %>
  </div>

  <div class="markdown-cheatsheet">
    <h3>Markdown チートシート</h3>
    <ul>
      <li><strong>見出し</strong>: <code># 見出し1</code> ～ <code>###### 見出し6</code></li>
      <li><strong>強調</strong>: <code>**太字**</code>, <code>*斜体*</code></li>
      <li><strong>リスト</strong>: <code>- アイテム</code> または <code>1. アイテム</code></li>
      <li><strong>リンク</strong>: <code>[リンクテキスト](URL)</code></li>
      <li><strong>画像</strong>: <code>![代替テキスト](画像URL)</code></li>
      <li><strong>コードブロック</strong>: <code>```</code><br>コード<br><code>```</code></li>
      <li><strong>引用</strong>: <code>&gt; 引用テキスト</code></li>
      <li><strong>水平線</strong>: <code>---</code> または <code>***</code></li>
    </ul>
  </div>
</div>
