<%= form_with(model: @tweet, local: true) do |form| %>
  <% if @tweet.errors.any? %>
    <!-- エラー表示のコード -->
  <% end %>

  <!-- タイトル入力フィールド -->
  <div class="field">
    <%= form.label :title, "タイトル", class: "form-label" %>
    <%= form.text_field :title, id: "tweet_title", class: "form-input" %>
  </div>

    <% ['html', 'css', 'js', 'url'].each do |field| %>
      <div class="input-preview-container"> <!-- 入力とプレビューのペアのコンテナ -->
        <div class="input-container"> <!-- 入力フィールド用のコンテナ -->
          <%= form.label field.to_sym, "#{field.upcase} (Markdown)", for: "tweet_#{field}", class: "form-label" %>
          <%= form.text_area field.to_sym, id: "tweet_#{field}", class: "form-input markdown-editor", rows: 10 %>
        </div>
        <div class="preview-container"> <!-- プレビュー表示用のコンテナ -->
          <label><%= field.upcase %> プレビュー</label>
          <div id="preview_<%= field %>" class="markdown-preview"></div>
        </div>
      </div>
    <% end %>

    <!-- 画像投稿フィールド -->
    <div class="field">
      <%= form.label :image, "画像アップロード", class: "form-label" %>
      <%= form.file_field :image, id: "tweet_image", class: "form-input" %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit "投稿する", class: "submit-button" %>
    <%= link_to '戻る', tweets_path, class: 'nav-link' %>
  </div>
<% end %>