<%= form_with(model: @tweet, local: true) do |form| %>
  <% if @tweet.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                   count: @tweet.errors.count,
                   resource: @tweet.class.model_name.human.downcase) %>
      </h2>
      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% ['html', 'css', 'js', 'url'].each do |field| %>
    <div class="field">
      <%= form.label field.to_sym, "#{field.upcase} (Markdown)", for: "tweet_#{field}", class: "form-label" %>
      <%= form.text_area field.to_sym, id: "tweet_#{field}", class: "form-input markdown-editor", rows: 10 %>
      <div id="preview_#{field}" class="markdown-preview"></div>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit "投稿する", class: "submit-button" %>
  </div>
<% end %>
