<!DOCTYPE html>
<html>
  <head>
    <title>GeekCodeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/289822879b.js"  crossorigin="anonymous"></script> 
    <script src="https://cdn.jsdelivr.net/npm/marked@3.0.0/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism-tomorrow.min.css">


    <!-- CSSのリンク -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <!-- JavaScriptのリンク（Importmapを使用する場合） -->
    <%= javascript_importmap_tags %>
    <!-- JavaScriptのリンク（通常のJavaScriptファイルを使用する場合） -->
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
